<% provide(:about_active, 'active') %>
<h1>About TheMusicBase</h1>
<p><br>
<h3>Welcome to TheMusicBase. This website contains a variety of different playlists and mixtapes
for your listening needs.</h3>
<p><br>

<h3>Some playlists I have created come equipped with my own personal notes or extra interesting details.
Some playlists on the website are just albums as themselves- such as Nevermind by Nirvana.</h3>
<p><br>

<h3>Each playlist has a large variety of songs to suit every genre, mood or time period. From Stairway to Heaven
to Duel of the fates- this website discriminates against no specific music taste.</h3>
<p><br>
<h3>We hope you enjoy your stay, and as a wise man once said- "if music be the food of love, play on."</h3>
