<% provide(:resourcespage_active, 'active') %>
<h1>Resources page</h1>

<p>Welcome to the resources page.</p>

<p>The home page of TheMusicBase is where you can access a variety of different posts!</p>

<%= link_to 'Contact page', new_contact_path %>
<p>Feel free to contact me about adding new songs or playlists, i'm open to suggestions!</p>
<p></p>
<%= link_to 'About page', about_path %>
<p></p>
<p>Still confused what this site is about? Check the about page by clicking the link above.</p>
<p></p>
<%= link_to 'TheBase', root_path %>
<p></p>
<p>And finally, if you're feeling confident enough to navigate the different playlists on you're own- here's the home page. Good luck!.</p>
