<tr>
  <td><%= link_to post.title, author_post_path(post) %></td>

  <td><%= link_to 'Edit', edit_author_post_path(post), class: 'btn btn-sm btn-primary' %></td>


  <td><%= link_to 'Remove', author_post_path(post), method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')",
    class: 'btn btn-sm btn-danger' %><td>

</tr>
