$dark-red: #8B0000;
$dark-blue: #000080;
$midnight-blue: #191970;
$dark-purple: #0C0032;
$matte-black: #1A1A1D;
$semi-dark-purple: #190061;
$medium-dark-purple: #240090;
$matte-red: #6F2232;
$light-red: #d9534f;
$cool-black: #0B0C10;
